<section class= 'backgroundH'>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <!-- Setting the links to #! will ensure that no action takes place on click. -->
        <li><a href="/#home">Home</a></li>
        <li><a href="/page">Middle School</a></li>
        <li><a href="#page2">High School</a></li>
        <li><a href="/page3">Administration Login</a></li>
      </ul>
    </nav>
  </div>
</section>
<%= link_to 'Featured Content', posts_path %>
</section>
<!--carousel, make a curriculum page for current years, and then make a carousel of albums for previous projects with descriptions, also more on after school projects

high school 9th and 10th grade curriculum, the DP program 11-12th grade separate, technology and computer science, after school - media lab, STC, robotics club-->