@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.background {
	background: image-url("background.jpg"); 
  	background-size: cover;
  	background-repeat: no-repeat;
  	min-height: 50em;
  	padding:50px 0;
  	overflow: hidden;

}

.text {
	color: #F2F3F4;
}
.button {
  height: 0px;
  margin: 0 auto;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
  text-align: center;
}


.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

a:link {
  color: #F2F3F4;
  font-family: 'Roboto Condensed';
  font-size: 30px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-decoration: none;
}

a:hover {
    color: #19f6e8;
}


@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 3px;
  }
}

.button:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
p {
	background: grey;
	text-align: center;
	color: white;
	font-size: 12px;
}


h1 {
  margin-top: 2em;
  font-family: 'Roboto Condensed';
  font-size: 30px;
  letter-spacing: 8px;
  line-height: 32px;

}

h2 {
  margin-top: 1em;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  letter-spacing: 6px;
  line-height: 32px;
}

#footer {
  background-color: black;
  margin-top: 0.5em;
  font-family: 'Roboto Condensed';
  font-size: 12px;
  letter-spacing: 4px;
  line-height: 32px;
  color: white;
}
.bi2 {
  background: url(https://imgur.com/2FV5fdy) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  overflow: hidden;
  text-align: center;
}
